@page "{handler?}"
@model IndexModel

@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Http.Features


@inject IViewLocalizer Localizer

@{
    var uiCulture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
}

@{
    ViewData["Title"] = "Wishlist";
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="container">

    @if (Model.WishlistModel.Items.Any())
    {
        <form method="post">
            <article class="esh-basket-titles row">
                <br />
                <section class="esh-basket-title col-xs-3">@Localizer["Product"]</section>
                <section class="esh-basket-title col-xs-3 hidden-lg-down"></section>
            </article>
            <div class="esh-catalog-items row">
                @for (int i = 0; i < Model.WishlistModel.Items.Count; i++)
                {
                    var item = Model.WishlistModel.Items[i];
                    <article class="esh-basket-items row">
                        <div>
                            <section class="esh-basket-item esh-basket-item--middle col-lg-3 hidden-lg-down">
                                <img class="esh-basket-image" src="@item.PictureUrl" />
                            </section>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-3">@item.ProductName</section>
                        </div>
                        <div class="row">

                        </div>
                    </article>
                }

                <div class="row">
                    <section class="esh-basket-item col-xs-1">
                        <a asp-page="/Index" class="btn esh-basket-checkout text-white">@Localizer["Continue Shopping..."]</a>
                    </section>
                </div>
            </div>
        </form>
    }
    else
    {
        <h3 class="esh-catalog-items row">
            @Localizer["Wishlist is empty."]
        </h3>

        <section class="esh-basket-item">
            <a asp-page="/Index" class="btn esh-basket-checkout text-white">@Localizer["Continue Shopping..."]</a>
</section>
    }
</div>
